.line {
  height: 2px;
  background-color: gray;
  margin: 24px;
}

.header {
  margin: 24px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: gray;
  position: relative;
}
