<!--The content below is only a placeholder and can be replaced.-->
<div #dataContainer
     id="dataContainer"
     *ngIf="airPurifierState.PM25"
     (click)="getAirData(undefined, undefined)"
     class="card-header data-container">
  <h3 style="text-shadow: 0 0 1px white;z-index: 2; color: white">
    {{ title }}
  </h3>
  <h4 style="text-shadow: 0 0 1px white;z-index: 2; color: white">
    {{ subTitle }}
  </h4>
  <div style="display: flex; justify-content: center; padding-top: 20px; opacity: 1">
    <div class="circle">
      <h3 *ngIf="airPurifierState"
          style="text-shadow: 0 0 1px white;z-index: 2; color: white; padding-top: 8vw">
        {{ airPurifierState.PM25 }} ug/m3
      </h3>
      <h4 style="text-shadow: 0 0 1px white;z-index: 2; color: white">
        {{ 'PM 2.5' }}
      </h4>
      <div class="line"></div>
      <div style="display: flex; justify-content: space-evenly">
        <div style="width: 20vw">
          <div>t°</div>
          <div>{{airPurifierState.Temperature}} C</div>
        </div>
        <div class="line2"></div>
        <div style="width: 20vw">
          <div>Humidity</div>
          <div>{{airPurifierState.Humidity}} %</div>
        </div>
      </div>
    </div>
  </div>
  <div class="current-state">
    <div>
      Fan speed: {{+airPurifierState.FanPower}} rpm
    </div>
  </div>
  <div class="header"
       [ngStyle]="{ 'background-color': getColor()}">
    <div id="video-bg" style="opacity: 0.5">
      <video width="100%"
             height="auto"
             preload="auto"
             autoplay="autoplay"
             loop="loop"
             [muted]="true"
             muted="muted">
        <source src="../assets/blue.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div  *ngIf="screen === 1" style="width:100%">
  <div class="controls"
       (click)="modeListOpen = !modeListOpen">
    <div class="lightMode">
      {{airPurifierState ? getLightModeName(airPurifierState.LightMode) : ''}}
    </div>
    <div *ngIf="!modeListOpen">
      <svg class="bi bi-caret-down-fill arrow" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
      </svg>
    </div>
    <div *ngIf="modeListOpen">
      <svg class="bi bi-caret-up-fill arrow" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
      </svg>
    </div>
  </div>

  <div class="lightMode"
       style="max-height: 16vh; overflow: auto;"
       *ngIf="modeListOpen">
    <div class="controls"
         *ngFor="let lightMode of lightModesList; let i = index"
         (click)="onSelectMode(i)">
      {{lightMode.name}}
    </div>
  </div>
</div>
<div *ngIf="screen === 1 && changeSpeedEnable()">
  <app-slider [minValue]="0"
              [maxValue]="1040"
              [value]="airPurifierState.FanPower"
              (valueEmitter)="setSpeed($event)"
              [index]="'Fan speed'"
              [unit]="'RPM'">
  </app-slider>
</div>
<div *ngIf="screen === 2" class="charts">
  <google-chart class="chart-container"
                [height]="135"
                [width]="360"
                [type]="type"
                [data]="data"
                [columnNames]="columnNames"
                [options]="options">
  </google-chart>
</div>
<div class="buttons">
  <div class="button" (click)="screen = 1">
    <img src="../assets/3.ico" alt="" class="ico1">
    <div class="button-text" style="margin-top: -9px">control</div>
  </div>
  <div class="button" (click)="screen = 2">
    <img src="../assets/2.ico" alt="" class="ico">
    <div class="button-text">graph</div>
  </div>
  <div class="button" (click)="screen = 3">
    <img src="../assets/4.ico" alt="" class="ico">
    <div class="button-text">about</div>
  </div>
</div>
<div *ngIf="spinner" class="spinner-border text-secondary"
     style="position: absolute; top: 49%; left: 49%"
     role="status">
  <span class="sr-only">Loading...</span>
</div>


