$color1: green;
$color2: lightgreen;
$color3: yellowgreen;
$color4: yellow;
$color5: orange;
$color6: orange;
$color7: red;
$color8: red;
$color9: crimson;

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  width: 100%;
  height: 64vh;
  -webkit-transition: background-color 2s ease-out 0s;
  -moz-transition: background-color 2s ease-out 0s;
  -o-transition: background-color 2s ease-out 0s;
  transition: background-color 2s ease-out 0s;
}

.data-container {
  height: 64vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  //background-color: $color1;
  text-align:center;
  //transition: 1s;
}

.circle {
  width: 70vw;
  height: 70vw;
  border: 5px solid white;
  border-radius: 35vw;
  box-shadow: 0 0 6px white;
  z-index: 2;
}

#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  width: 100%;
  height: 64vh;
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.line {
  background-color: white;
  width: 63vw;
  height: 0.5px;
  z-index: 10;
  margin-top: 6vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
  opacity: 1;
}

.line2 {
  background-color: white;
  width: 1px;
  height: 22vw;
  z-index: 10;
  opacity: 1;
}

span {
  font-size: 19px;
}

.current-state {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 3vh;
  z-index: 2;
}

.controls {
  width: 100%;
  background-color: white;
  line-height: 45px;
  height: 45px;
}

.lightMode {
  //padding: 8px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
  //margin: 8px;
  opacity: 1;
  //border-radius: 4px;
  text-align: center;
  height: auto;
  transition: height 1s;
  color: gray;
  background-color: white;
}

.radio-item {
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 86.5vh;
  left: 0px;
  width: 100%;
  height: 14vh;
  z-index: 3;
  background-color: white;
}

.button {
  flex-direction: column;
  display: flex;
  align-items: center;
  max-height: 7vh;
}

.button-text {
  font-size: 14px;
}

.ico {
   width: 3vh;
   height: 3vh;
  opacity: 0.5;
 }
.ico1 {
  width: 4vh;
  height: 5vh;
  margin-top: -3px;
}

.arrow {
  position: relative;
  top: -48px;
  left: 90%;
  opacity: 0.6;
}

